.logo-container {
    height: 100vh;
    box-sizing: border-box;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    margin: 0;
    width: 100%;
    height: 180px;
    white-space: nowrap;
    font-size: 180px;
    color:darkorange;
    text-align: center;
    font-family: 'Times New Roman', serif;
    line-height: 1;
    
}

#logo-image-home {
    display: block;
    margin: 0 auto;
    max-width: 15%;
    height: auto;
    margin-bottom: 20px;

}

#logo-image {
    display: block;
    margin: 0 auto;
    max-width: 9%;
    height: auto;
    margin-bottom: 20px;

}

.text-logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;


}   

.text-logo-text .text {
    color:darkorange;
    font-size: 20px;
    font-family: 'Futura', sans-serif;
    align-items: center;
    
}


nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    
}

nav a {
    color:rgb(179, 98, 255);
    font-size: 30px;
    font-family: 'Futura', sans-serif;
}

nav a:hover {
    color: rgb(255, 98, 98);
    text-decoration: underline;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Futura', sans-serif;

}
h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Futura', sans-serif;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Futura', sans-serif;
    margin-bottom: 10px;
}

figcaption {
    font-size: 15px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.video-container {
    
    width: min(90%, 500px);
  margin-inline: auto;
  aspect-ratio: 16 / 9;

}
   
video{
    width: 100%;
    height: 100%;
    
}

img {
    display: block;
    align-items: center;
    margin: 0 auto;
    max-width: 45%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.music-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 15px;

}

.music-list li {
    font-size: 20px;
    font-family: 'Futura', sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.music-list li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}