#logo {
    font-size: 180px;
    color:darkorange;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

#header1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.logo {
    animation: morph 2s infinite alternate;
}

@keyframes morph {

    from {
        font-variation-settings: "wght" 100;
    }

    to {
        font-variation-settings: "wght" 900;
    }

}