.logo-container {
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    font-size: 180px;
    color:darkorange;
    text-align: center;
    font-family: 'Times New Roman', serif;
    line-height: 1;
}

#header1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

